<main class="p-4">
    <div class="p-2 bg-white rounded-3 shadow ">
        <h2 class="pb-0 mb-0">Bievenido a la aplicacion de Venta Real</h2>
        <hr class="pt-0 mt-0 w-50">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nulla nesciunt inventore neque alias enim ex aperiam aliquam cupiditate ad assumenda nam quas reprehenderit porro eaque iure, minus necessitatibus obcaecati ipsum saepe vero fuga voluptates. Asperiores, nam rerum iure veniam voluptatibus ipsa iste illo ad sunt necessitatibus nihil corrupti atque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate doloremque amet cupiditate numquam, deserunt iusto aliquam similique distinctio, fugit nobis debitis? Commodi aliquam tenetur unde deleniti accusamus quidem numquam, vero illum fuga iure nobis eum!</p>
    </div>

</main>